<div id="devices" style="display: none;">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Monitores</h1>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<section id="devices_contend" class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h2 class="card-title">Lista de monitores vinculados</h2>
						</div>
						<!-- /.card-header -->
						<div class="card-body p-0">
							
							<div class="mb-3 mt-3 ml-3">
								
								<h6 class="mb-2">Vincular un nuevo monitor a su cuenta</h6>
								<button type="button" class="btn bg-navy btn-flat mr-2" data-toggle="modal" data-target="#modal-add-device" data-backdrop="static" data-keyboard="false">
									<i class="fas fa-plus mr-2"></i>Vincular
								</button>
								
								<h6 class="mb-2 mt-2">Opciones para el monitor seleccionado "<%=deviceName%>"</h6>
								<button type="button" class="btn bg-primary btn-flat mr-2" data-toggle="modal" data-target="#modal-edit-device" data-backdrop="static" data-keyboard="false">
									<i class="fas fa-edit mr-2"></i>Editar
								</button>
								<button type="button" class="btn btn-danger btn-flat mr-2" data-toggle="modal" data-target="#modal-delete-device" data-backdrop="static" data-keyboard="false">
									<i class="fas fa-trash-alt mr-2"></i>Desvincular
								</button>
							</div>

							<h6 class="mb-2 ml-3">Selecione para cambiar de tablero</h6>
							<div class="table-responsive">
								<table id="devicesTable" class="table table-hover text-nowrap">
									<thead>
										<tr>
											<th>Nombre</th>
											<th>Serial</th>
											<th>Modelo</th>
											<th>Estado</th>
										</tr>
									</thead>
									<tbody>
										<% if (NDevices > 0) { %>
											<% for(var i = 0; i < NDevices; i++) { %>
											
										<tr data-device="<%= i %>">
											<td><a href="#"><%= devices[i].name %></a></td>
											<td><%= devices[i].serialNumber %></td> <!-- ¿Falla de seguridad? -->
											<td><%= devices[i].modelName %></td>
											<td>-</td>
										</tr>
	
											<% } %>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<script type="text/javascript">
		(function () {

			function changeDevice (deviceID) {

				var protocol = window.location.protocol;
				var hostname = window.location.hostname;
				var pathname = window.location.pathname;

				window.localStorage.setItem("localLastPage", "dashboard");

				location.href = protocol + '//' + hostname + pathname + '?device=' + deviceID;
			}

			function addRowHandlers() {
				var table = document.getElementById("devicesTable");
				var rows = table.getElementsByTagName("tr");
				for (i = 1; i < rows.length; i++) {

					var row = table.rows[i];

					var clickHandler = function() {
						var deviceId = this.getAttribute("data-device");
						changeDevice(deviceId);
					};

					row.onclick = clickHandler;
				}
			}
			window.onload = addRowHandlers();

			let view = document.getElementById("devices");
			view.addEventListener("OnVisible", function () {
				//viewport visible
			});
			view.addEventListener("OnInvisible", function () {
				//viewport invisible
			});

		})();
	</script>
</div>